.deatilsCardContainer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  .detailsCard {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #999797;
    border-radius: 2px;
    padding: 6px;
    margin: auto;
    cursor: pointer;
    min-width: 400px;
    min-height: 460px;
    color: #58646c;
    font-weight: bold;
    &:hover {
      transform: scale(1.04);
      transition: 0.8s all ease-in-out;
    }
    a {
      font-size: 30px;
      font-weight: bold;
      text-align: right;
      margin-right: 10px;
      color: #000;
    }
    .pokemonWithTitle {
      display: flex;
      align-items: center;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
      h4 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 6px;
      }
    }
    .pokemonData {
      list-style-type: none;
      margin-top: 0;
      li {
        margin-top: 20px;
        span {
          font-size: 18px;
        }
      }
    }
  }
  @media(max-width:576px){
    .detailsCard{
      min-width: 340px;
    }
  }
}
