.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  .search {
    -webkit-appearance: none;
    border: 2px solid #eee;
    outline: none;
    padding-left: 35px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
}
